
.youtube-video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;

  padding: 0;
}

@media (max-width: 600px) {
  .youtube-video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.video-preview {
  position: relative;
}

.thumbnail {
  width: 100%;
}

.video-timestamp {
  position: absolute;
  bottom: 130px;
  right: 5px;

  background-color: rgba(0, 0, 0, 0.9);
  color: white;

  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;

  border-radius: 2px;

  font-size: 12px;

}

.video-title {
  width: 250px;
  font-size: 15px;
  font-weight: 550;

  line-height: 22px;
  
  margin-top: 8px;
  margin-bottom: 0;
}

.video-author {
  margin-top: 16px;
  margin-bottom: 0;

  font-size: 13px;

  color: rgb(124, 122, 122);
}

.video-stats {
  font-size: 13px;

  margin-top: 6px;

  color: rgb(124, 122, 122);
}


.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture {
  padding-right: 0;
  padding-top: 0;
  margin-right: 6px;
  margin-top: 0;
  vertical-align: top;
}

.channel-profile-picture {
  margin-top: 10px;
  width: 35px;
  height: 35px;
  
  border-radius: 200px;
  
  object-fit: cover;
  object-position: center;
}

.video-information { 
  width: 250px;
  padding-top: 0;
  margin-top: 0;
}